/* Page size A4 */

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .no-print {
        display: none !important;
    }
}

.invoice-page {
    padding:50px;
    margin: auto;
    font-family: Arial, sans-serif;
    background: #fff;
    box-sizing: border-box;
}

/* Title */
.invoice-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* From & To sections */
.invoice-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Invoice info */
.invoice-info {
    margin-bottom: 20px;
}

/* Table */
.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th, .invoice-table td {
    border: 1px solid rgba(121, 121, 121, 0.34);
    padding: 6px;
    text-align: center;
}

.invoice-table th {
    background-color: #2d2d2d;
    color: #fff;
}

.total-table td{
    text-align: center;
    border:1px solid #a5a5a5;
    padding: 2px;
    font-weight: 500;
}

.total-table{
    width: 40%;
}

/* Declaration */
.invoice-declaration {
    margin-top: 30px;
    font-size: 12px;
}

/* Signature */
.invoice-signature {
    margin-top: 50px;
    text-align: right;
}

.invoice-signature div {
    border-top: 1px solid #000;
    width: 200px;
    margin-left: auto;
}