@media print{
  .btns-container{
    display: none !important;
  }
}

.form-control{
  border: 1px solid #ccc;
  color:black;
  font-weight:600;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.p-inputotp{
  gap:20px;
  margin-top: 15px;
}

.container-dashboard{
  display: grid;
  grid-template-columns:0.16fr 1fr;
}

@media (max-width: 720px) {
  .container-dashboard{
      grid-template-columns:1fr;
  }
}

th{
  padding-bottom:3px;
}

td{
  padding-top: 5px;
}

.p-toast-message-content{
  border-left:10px solid #fd4a4a;
  border-radius: 5px;
}